html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 22px;
  background: black;
  color: white;
}

a:link {
  text-decoration: none;
}
a:link,
a:visited {
  transition: color 0.25s ease-in-out;
  color: lightblue;
}
a:hover {
  color: orange;
}

.fade-in {
  transition: opacity 1s ease-in;
  opacity: 0.1;
}
.fade-in.mounted {
  opacity: 1;
}
